<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/indexStyles.css" />
  </head>
  <body>
    <main>
      <h1>Home</h1>
      <% genres.forEach((genre) => { %>
      <section class="card genreCard">
        <a href="/genre/<%= genre.genre_name %>"><%= genre.genre_name %></a>
      </section>
      <% }); %>
      <section class="card">
        <a href="/genre/new" class="newGenre">New Genre</a>
      </section>
    </main>
  </body>
</html>
